@import "compass/css3";
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

.nav {
	li {

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

.portfolio-piece section.entry-content {
	margin-left: -15px;
	margin-right: -15px;
	> * {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
	.lead-image {
		margin-top: 0;
		width: 40%;
	}
	.article-body {
		h2 {
			line-height: 1;
		}
		width: 60%;
	}
}

/*********************
FOOTER STYLES
*********************/
p#logo,
p#tagline {
	margin-left: 40%;
}
nav {
	.title {
		display: block;
		float: left;
		font-weight: 500;
		margin: 10px 0;
	}
	.nav {
		left: 40%;
		position: absolute;
		right: 0;
	}
}
