.portfolio {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 30px -10px;
}
.portfolio-piece {
	position: relative;
	width: 100%;
	a.project-link {
		position: relative;
		font-family: $font--karbon;
		font-weight: 400;
		color: #333;
		padding: 5px 0;
		margin-bottom: 10px;
		width: 100%;
		display: block;

		&.project-link:hover {
			color: #000;
		}
	}
	&.loading:before {
		content: '';
		background-image: url(../images/preloader.svg);
		background-position: center;
		background-size: contain;
		position: absolute;
		top: 100px;
		left: 50%;
		margin-left: -20px;
		height: 40px;
		width: 40px;
		z-index: 199;
	}
}
.portfolio > .portfolio-piece {
	float: left;
	&.portfolio-open {
		width: 100%;
		height: auto;
		padding: 10px;
		img,
		.wp-caption {
			max-width: 100%;
		}
		p {
			font-size: 18px;
		}
	}
}

.portfolio-closed {
	overflow: hidden;
	padding: 10px;
	vertical-align: bottom;

	h3 {
		min-height: 70px;
		margin-bottom: 0px;
		margin-top: 10px;
		overflow: auto;
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	img {
		margin-bottom: 0 !important;
	}
}

.portfolio-piece .portfolio-open {
	display: block;
	position: relative;
	height: auto;
	.lead-image {
		margin-top: 70px;
	}
	article {
		width: 100%;
	}
	section.entry-content {
		width: 100%;
		height: auto;
	}
	p:first-child {
		padding-top: 0px;
		margin-top: 0px;
	}
	a.portfolio-button-close {
		position: absolute;
		font-size:0;
		background-image: url('../images/close.svg');
		background-width: 10px;
		width: 20px;
		height: 20px;
		right: 0px;
		top: 0;
		z-index: 199;
	}
}
